<!doctype html>
<html>
    <head>
        <title>Beverage</title>
        <link rel="stylesheet" href="./webjars/angular-ui-select/select.css">
        <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
        <style type="text/css">
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>
        <meta charset="utf-8">
    </head>  


    <body>

        <div ng-controller="main as vm" class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 ng-click="vm.goToWelcome()">Beverage</h1>
                </div>
                <div class="col-md-2" style="padding-top:40px">
                    <a ng-show="!vm.isAuthenticated" href="" ng-click="vm.login()">login</a>
                    <div ng-show="vm.isAuthenticated && vm.loggedInUser">
                        <span uib-dropdown>
                            <a href id="simple-dropdown" uib-dropdown-toggle>
                                {{vm.loggedInUser}}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li>
                                    <a href="" ng-click="vm.logout()">logout</a>
                                </li>
                            </ul>
                        </span>               
                    </div>
                </div>

            </div>




        </div>
        <hr>
        <div ng-cloak ng-view class="container"></div>


        <script src="/webjarsjs"></script>
        <script data-main="scripts/main" src="webjars/requirejs/require.min.js"></script>

    </body>
</html>