<div ng-controller="login">
    <br>
    <br>
    <span class="alert alert-danger">
        Denna webbsida innehåller information om alkoholdrycker. För besök på denna webbplats måste du vara <strong>20 år</strong> eller äldre.
    </span>
    <br>
    <br>
    <br>
    <form ng-show="signIn" role="form" name="signInForm">
            <div class="form-group">
                    <label for="username">Username:</label> <input type="text" ng-required="true"
                            class="form-control" id="username" name="username" ng-model="credentials.username"/>
            </div>
            <div class="form-group">
                    <label for="password">Password:</label> <input type="password" ng-required="true"
                            class="form-control" id="password" name="password" ng-model="credentials.password"/>
            </div>
            <button ng-disabled="signInForm.$invalid" type="submit" class="btn btn-primary" ng-click="login(credentials)">Sign in</button>
            <button type="submit" class="btn btn-primary" ng-click="signIn=false">Sign up</button>
    </form> 
    <form ng-show="!signIn" role="form" name="signUpForm">
            <div class="form-group">
                    <label for="username">Username:</label> <input ng-required="true" type="text"
                            class="form-control" id="username" name="username" ng-model="userInfo.username"/>
            </div>
            <div class="form-group">
                    <label for="age">Age:</label> <input ng-required="true" type="text"
                            class="form-control" id="age" name="age" ng-model="userInfo.age"/>
            </div>
            <div class="form-group">
                    <label for="password">Password:</label> <input ng-required="true" type="password"
                            class="form-control" id="password" name="password" ng-model="userInfo.password"/>
            </div>
            <div class="form-group">
                    <label for="confirmPassword">Confirm password:</label> <input ng-required="true" type="password"
                            class="form-control" id="confirmPassword" name="password" ng-model="userInfo.confirmPassword"/>
            </div>
            <button type="submit" ng-disabled="signUpForm.$invalid || userInfo.password !== userInfo.confirmPassword" class="btn btn-primary" ng-click="createUser(userInfo)">Sign up</button>
            <button type="submit"  class="btn btn-primary" ng-click="signIn=true>Exit</button>
    </form>      
</div>

