<div class="col-md-12" ng-controller="listReviewCtrl as vm">
    <div class="row">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <input type="text" class="form-control" ng-model="vm.queryString" ng-keyup="vm.filterReviews()">
            </div>
            <div class="panel-body">
                <div class="infinite-table" style="height:600px;overflow-y:scroll;">
                    <table infinite-scroll='vm.loadMore()'  infinite-scroll-distance='2' infinite-scroll-container='".infinite-table"'
                           class="table table-hover" cellspacing="0" width="100%">
                        <tr ng-repeat="review in vm.reviews track by $index">
                            <td ng-if="!vm['editReview' + review.reviewId]" class="col-md-9" ng-click="vm.showBeverageDetails(review)">
                                <div class="numberCircle {{vm.getRate(review)}}">{{review.rate}}</div> <span>{{review.name}} <b>produced by</b> {{review.producer}}<span>  
                                <br>
                                <span><b>Review: </b><i>{{review.description}}<i></span>
                            </td>
                            <td ng-if="vm['editReview' + review.reviewId]" class="col-md-9">
                                <span><b>Rate: </b></span><span uib-rating ng-model="review.rate" max="10" aria-labelledby="default-rating"></span>
                                <br>
                                <span>{{review.name}} <b>produced by</b> {{review.producer}}<span> 
                                <br>
                                <textarea rows="6" class="form-control" id="description" ng-model="review.description"></textarea>
                            </td>
                            <td  class="col-md-3">
                                <div>
                                    <button id="deleteRate" type="submit" class="pull-right btn btn-default" ng-click="vm.deleteReview(review, $index)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <div ng-hide="vm['editReview' + review.reviewId]">
                                    <button id="updateRate" type="submit" class="pull-right btn btn-default" ng-click="vm['editReview' + review.reviewId] = true">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button> 
                                </div>
                                <div ng-show="vm['editReview' + review.reviewId]">
                                    <button  id="saveRate" type="submit" class="pull-right btn btn-default" ng-click="vm['editReview' + review.reviewId] = false; vm.updateReview(review, $index)">
                                       <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>   
                </div>
            </div>
            <div class="panel-footer" >
                <span ng-show='vm.loadingReviews'>Loading data...</>
            </div>
        </div>
    </div>
</div>